<h1>Register</h1>

<form>
<fieldset>
<legend>Your Name</legend>
	<label>
		First:
		<input type="text" name="firstName" />
	</label>

	<label>
		Last:
		<input type="text" name="lastName" />
	</label>
</fieldset>

<fieldset>
<legend>E-mail</legend>
	<label>
		E-mail:
		<input type="text" name="email" />
	</label>
</fieldset>

<fieldset>
<legend>Password</legend>
	<label>
		Password:
		<input type="password" name="password" />
	</label>
	<label>
		Password (confirm):
		<input type="password" name="cpassword" />
	</label>

<p>
	<input type="submit" value="Register Now" />
</p>
</form>
