// @todo: need to understand how to define this mail config file
module.exports = function() {
	return {
	    "service": "Gmail",
	    "auth": {
	        "user": "gmail.user@gmail.com",
	        "pass": "userpass"
	    }
    };
}();